html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:02px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,htmlinput[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],htmlinput[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}html,button,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}

/* My code */
body {
  background-color: #F1F1F1;
}


h1 {
    font-size: 40px;
    font-weight: 900;
}

h3 {                             
    font-size: 24px;
}


/* Navigation */

/* menu Wrapper */
.navWrapper {
  background-color: #f1f1f1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


#logo_Image {
  margin: 0 0 0 0;
}

.nav_bttn {
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background: #ED7458;
  border-radius: 30px;
  height: 35px;
  width: 120px;
  color: #f2f2f2;
  padding: 0 0 0 0;
  font-family: 'fivo_sansmedium';
}

.topnav {
  overflow: hidden;
  margin: 0 auto;
  width: 88%;
}
  
.topnav a {
  float: left;
  display: block;
  color:  #3B5753;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'fivo_sansmedium';
}
  
.topnav a:hover {
  font-weight: 900;
} 
  
.topnav .icon {
  display: none;
}


.menuItem, #CTA {
  margin: 15px 0 0 0;
}

#CTA  {
  float: right;
  padding: 5px 0 0 0;
}
/* End Of Navigation */





/* Hero Cover */


.coverWrapper {
  margin: 0 auto;
  width: 80%;
}


.coverImage {
  background-image: linear-gradient(0deg, #000000 0%, #000000 0.01%, rgba(0, 0, 0, 0) 56.19%), url(/assets/imgs/stories/cyber_punk.jpg);
  /* background-color: grey; */
  background-size: cover;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0 158px 0;
}


.coverTitle {
  color: #f2f2f2;
  position: relative;
  top: 410px;
  padding: 0 0 0 60px; 
}

#mainTitle {
  font-weight: 950;
  font-size: 65px;
  line-height: 68px;
  padding: 0 0 8px 0;
  font-family: 'fivo_sans_modernextra_black';
  color: #ED7458;
}

#subTitle {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  font-family: 'fivo_sansmedium';
}

/* End of cover image */





.contentWrapper {
  margin: 0 auto;
  width: 50%;
}


/* Main Content */

.landing_vp {
  display: flex;
  margin: 0 0 160px 0;

}

.vp_image {
  height: 472px;
  width: 435px;
  margin: 0 160px 0 0;
}

#sample_cover {
  background-image: url(/assets/imgs/stories/woods.jpg);
  /* background-color: grey; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.landing_vp_points {
  width: 380px;
  position: relative;
  top: 168px;
}

#free_vp_points {
  position: relative;
  top: 100px;
}

#FREE {
  font-family: 'fivo_sansblack';
  font-weight: 900;
}

.landing_heading {
  font-family: 'fivo_sansblack';
  color: #ED7458;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 42px;
  padding: 0 0 20px 0;
}


.landing_text {
  font-family: 'fivo_sansmedium';
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 112%;
  color: #3B5753;
  padding: 0 0 20px 0;
}

#what_I_give {
  height: 360px;
}

#tanslations {
  padding: 0 0 0 110px;
}

.translation_gray {
  font-family: 'fivo_sans_modernextra_black';
  font-style: normal;
  font-weight: 950;
  font-size: 50px;
  line-height: 60px;
  color: #DDE0D9;
}

.translation_green {
  font-family: 'fivo_sans_modernextra_black';
  font-style: normal;
  font-weight: 950;
  font-size: 50px;
  line-height: 60px;
  color: #AFD9C7;
}



/* End Main Content */


button {
  border-radius: 22px;
  background-color: #ed7457;
  border: none;
}



.signup_bttn {
  border-radius: 30px;
  background-color: #ed7457;
  border: none;
  color: #f2f2f2;
  width: 290px;
  height: 52px;
  font-family: 'fivo_sansmedium';
  font-weight: 450;
  font-size: 18px;
}

#Now_What {
  text-align: center;
  height: 400px;
  margin: 180px 0 0 0;
}

.footer_CTA {
  width: 300px;
  display: inline-block;
  margin: 0 0 40px 0;
  line-height: 112%;
}


/* Footer */ 

.FooterNavWrapper {
  margin: 0 auto;
  width: 85%;
}

.footerSection {
height: 182px;
background-color: #040404;
margin: 0;
}

.footerLogo p img {
display: flex;
}

#footerLogo {
width: 90px;
float: right; 
position: relative;
}

#copyRight  p {
position: relative;
color: #535353;
top: 75px;
font-size: 12px;
font-family: 'fivo_sanslight';
}

.FooterMenu a {
color: #f2f2f2;
text-decoration: none;
font-size: 14px;
font-weight: 300;
font-family: 'fivo_sansmedium';
text-decoration: none;
position: relative;
top: 40px;
display: block;
}
/* Footer */







