html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:02px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,htmlinput[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],htmlinput[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}html,button,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}

/* My code */

body {
    background-color: #000;
}
  
  
h1 {
      font-size: 40px;
      font-weight: 900;
}
  
h3 {                             
      font-size: 24px;
}


a {
    text-decoration: none;
}

button {
    border-radius: 30px;
    background-color: #ed7457;
    border: none;
}

/* Navigation */

/* menu Wrapper */
.navWrapper {
    background-color: #f2f2f2;
}

#orangeBar {
    background-color: #ed7457;
    height: 5px;
    width: 100%;
}

#mainNav {
    height: 75px;
}


#logo_Image {
  margin: 0 0 0 0;
}

.nav_bttn {
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background: #AFD9C7;
  border-radius: 30px;
  height: 35px;
  width: 120px;
  color: #3B5753;
  padding: 0 0 0 0;
  font-family: 'fivo_sansmedium';
}

.nav_bttn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 900;
}

.topnav {
    overflow: hidden;
    margin: 0 auto;
    width: 88%;
}
  
.topnav a {
    float: left;
    display: block;
    color:  #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'fivo_sansmedium';
}
  
.topnav a:hover {
    font-weight: 900;
} 
  
.topnav .icon {
    display: none;
}


.menuItem, #CTA {
      margin: 15px 0 0 0;
}

#CTA  {
      float: right;
      padding: 5px 0 0 0;
}
/* End Of Navigation */

/* Search Bar */

.search {
    width: 340px;
    position: relative;
    display: flex;
    margin: 18px 0 0 0;
    padding: 0 0 0 20%;
}
  
.searchTerm {
    width: 100%;
    border: 0px;
    border-right: none;
    padding: 0 0px 0 25px;
    height: 35px;
    border-radius: 30px 0 0 30px;
    outline: none;
    color: #C4C4C4;
}
  
.searchTerm:focus{
    color: #131313;
}
  
.searchButton {
    width: 60px;
    height: 35px;
    border: 0px;
    background: #fff;
    text-align: center;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 14px;
}
  
.wrap{
    width: 20%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End Search Bar */


/* User Image */

.user_Profile-Container {
    text-align: center;
    color: #f2f2f2;
}

.profile_Image {
    width: 200px;
    height: 200px;
    margin: 100px 0 0 0;
    display: inline-block;
    border-radius: 120px;
    background-image: url(/assets/imgs/user_prof_img/cat_blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user_Title {
    font-family: 'fivo_sans_modernextra_black';
    padding: 20px 0 0 0;
}

/* End User Image */


/*  Underline */

.title_divider {
    margin: 0 auto;
    width: 100%;
}

.heading_underline {
    height: 1px;
    background-color: #f2f2f2;
    text-align: center;
    width: 98%;
    margin: 0 0 45px 0;
}

#heading_title {
    font-family: 'fivo_sansmedium';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 19px;
    color: #f2f2f2;
    padding: 0 0 10px 0;
    margin: 140px 0 0 0;
}

/* End Heading Underline */



/* Main Content */

.ContentWrapper {
    margin: 0 auto;
    width: 76%;
}

#upload_image_1 {
    background-image: url(/assets/imgs/story_titles/upload/cielestial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#upload_image_2 {
    background-image: url(/assets/imgs/story_titles/upload/shells.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#upload_image_3 {
    background-image: url(/assets/imgs/story_titles/upload/exo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Newest */
.newest_container {
    margin: 0 auto;
    width: 52%;
}

.uploads_row {
    width: 984px;
    height: 378px;
    margin: 46px 0 110px 0;
    display: flex;
}

.upload_card {
    width: 222px;
    height: 378px;
    margin: 0 24px 0 0;
}

.upload_image {
    width: 222px;
    height: 297px;
    background-color: #C4C4C4;
}

.upload_creator_time_info {
    display: flex;
}

.upload_title {
    font-family: 'fivo_sansblack';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #f2f2f2;
    padding: 0 0 15px 0;
    letter-spacing: 0.5px;
}

.creator_dp {
    border-radius: 30px;
    background-color: #AFD9C7;
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
}

.upload_user {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 136.5%;
    /* or 14px */
    color: #ED7457;
    font-family: 'fivo_sansregular';
    letter-spacing: 0.5px;
}

.upload_time_lapsed {
    font-family: 'fivo_sanslight';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 136.5%;
    /* or 14px */
    color: #f2f2f2;
    
    letter-spacing: 0.5px;
}


.username_time {
    margin: 0 115px 0 0;
}

.upload_info {
    padding: 18px 0 0 0;
}

/* End Newest */








#subCard_8 {
    background-image: url(/assets/imgs/story_titles/digital_captivity_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* End of Main Content */