html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:02px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,htmlinput[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],htmlinput[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}html,button,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}

/* My code */
body {
    background-color: #000;
  }
  
  
  h1 {
      font-size: 40px;
      font-weight: 900;
  }
  
  h3 {                             
      font-size: 24px;
  }


  
  /* Navigation */




/* menu Wrapper */
.navWrapper {
    margin: 0 auto;
    width: 78%;
    padding-bottom: 90px;

}


.topnav {
    overflow: hidden;
}
  
.topnav a {
    float: left;
    display: block;
    color:  #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'fivo_sansmedium';
}
  
.topnav a:hover {
    font-weight: 900;
    
}
  
.topnav a.active {
    color: #ed7457;
    font-weight: 900;
}

.menuItem, #CTA {
      margin: 10px 0 0 0;
}

#CTA  {
      float: right;
}

/* End Of Navigation */


/* User Image */

.user_Profile-Container {
    text-align: center;
    color: #f2f2f2;
}

.profile_Image {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    border-radius: 120px;
    background-image: url(/assets/imgs/user_prof_img/cat_blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user_Title {
    font-family: 'fivo_sans_modernextra_black';
    padding: 20px 0 59px 0;
}

/* End User Image */


/* Main Content */

.ContentWrapper {
    margin: 0 auto;
    width: 76%;
}

.my_shelf {
    margin: 0 0 0 90px;
    color: #f2f2f2;
    font-family: 'fivo_sansmedium';
    font-size: 18px;
}


.subLibrary_Wrapper {
    width: 90%;
    height: 204px;
    margin: 20px auto 40px auto;
    display: flex;
    padding: 0 0 0 38px;
}

.subCard {
    width: 145px;
    height: 204px;
    margin: 0 15px 0 0;
    background-color: #c0c0c0;
    background-image: url(/assets/imgs/story_titles/coming_soon.png);
    /* background-color: grey; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_1 {
    background-image: url(/assets/imgs/story_titles/cancerous_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_2 {
    background-image: url(/assets/imgs/story_titles/shells_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_3 {
    background-image: url(/assets/imgs/story_titles/i_am_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_4 {
    background-image: url(/assets/imgs/story_titles/where_for_art_thou_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_5 {
    background-image: url(/assets/imgs/story_titles/loud_silence_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_6 {
    background-image: url(/assets/imgs/story_titles/cilestial_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_7 {
    background-image: url(/assets/imgs/story_titles/010101_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#subCard_8 {
    background-image: url(/assets/imgs/story_titles/digital_captivity_library.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* End of Main Content */